.bg-img1
{
    background-color: #000;
    background-size: cover;
    height: 70vh;
}

.bg-img2
{
    background-color: #000;
    background-size: cover;
    height: 70vh;
    
}
.bg-img3
{
    background-color: #000;
    background-size: cover;
    height: 70vh;
}

footer
{
    margin-top: 300px;

}